<h1 class="mb-5">Sales</h1>
<p-table
  #dt
  dataKey="productID"
  [columns]="columns"
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="['productID', 'productName', 'salesQ1', 'salesQ2', 'salesQ3', 'salesQ4']"
  styleClass="p-datatable-gridlines p-datatable-striped"
  (onEditComplete)="onEditComplete($event)"
>
  <ng-template pTemplate="caption">
    <div class="d-flex">
      <p-button
        label="Reset"
        styleClass="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="resetTable(dt)"
      ></p-button>
      <span class="p-input-icon-left ms-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          #textInput
          type="text"
          (input)="dt.filterGlobal(textInput.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="{ 'text-center': column?.subHeaders?.length }"
        [attr.colspan]="!!column.subHeaders ? column.subHeaders.length : null"
        [attr.rowspan]="!column.subHeaders ? 2 : null"
        [pSortableColumn]="column.field"
        [pSortableColumnDisabled]="!column.field"
      >
        {{ column.header }}
        <p-sortIcon *ngIf="column.field" [field]="column.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <ng-template ngFor let-column [ngForOf]="columns">
        <th
          *ngFor="let column of column.subHeaders"
          [pSortableColumn]="column.field"
          [pSortableColumnDisabled]="!column.field"
        >
          {{ column?.header }}
          <p-sortIcon *ngIf="column.field" [field]="column.field"></p-sortIcon>
        </th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-editing="editing">
    <tr>
      <td>{{ product.productID }}</td>
      <td [pEditableColumn]="product.productName" pEditableColumnField="productName">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input
              placeholder="Product Name"
              pInputText
              type="text"
              maxlength="50"
              required
              [(ngModel)]="product.productName"
            />
          </ng-template>
          <ng-template pTemplate="output">
            {{ product.productName }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="product.salesQ1" pEditableColumnField="salesQ1">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber
              [min]="0"
              [max]="9999999999999"
              [format]="false"
              [(ngModel)]="product.salesQ1"
              placeholder="Sales Q1"
              [required]="true"
            ></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{ product.salesQ1 }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="product.salesQ2" pEditableColumnField="salesQ2">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber
              [min]="0"
              [max]="9999999999999"
              [format]="false"
              [(ngModel)]="product.salesQ2"
              placeholder="Sales Q2"
              [required]="true"
            ></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{ product.salesQ2 }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="product.salesQ3" pEditableColumnField="salesQ3">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber
              [min]="0"
              [max]="9999999999999"
              [format]="false"
              [(ngModel)]="product.salesQ3"
              placeholder="Sales Q3"
              [required]="true"
            ></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{ product.salesQ3 }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [pEditableColumn]="product.salesQ4" pEditableColumnField="salesQ4">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <p-inputNumber
              [min]="0"
              [max]="9999999999999"
              [format]="false"
              [(ngModel)]="product.salesQ4"
              placeholder="Sales Q4"
              [required]="true"
            ></p-inputNumber>
          </ng-template>
          <ng-template pTemplate="output">
            {{ product.salesQ4 }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <ng-container *ngIf="product.totalSales && product.totalSales > 0 && !shouldRecalculateTotals">{{
          product.totalSales
        }}</ng-container>
        <ng-container *ngIf="!product.totalSales || product.totalSales <= 0 || shouldRecalculateTotals">
          {{ computeTotalSales(product.salesQ1, product.salesQ2, product.salesQ3, product.salesQ4) }}
        </ng-container>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No sales data found.</td>
    </tr>
  </ng-template>
</p-table>
