<h1 class="mb-5">Sales</h1>
<p-table
  #dt
  dataKey="productID"
  [columns]="columns"
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="['productID', 'productName', 'salesQ1', 'salesQ2', 'salesQ3', 'salesQ4']"
  styleClass="p-datatable-gridlines p-datatable-striped"
  (onEditComplete)="onEditComplete($event)"
>
  <ng-template pTemplate="caption">
    <div class="d-flex">
      <p-button
        label="Reset"
        styleClass="p-button-outlined"
        icon="pi pi-filter-slash"
        (click)="resetTable(dt, textInput)"
      ></p-button>
      <span class="p-input-icon-left ms-auto">
        <i class="pi pi-search"></i>
        <input
          pInputText
          #textInput
          type="text"
          (input)="dt.filterGlobal(textInput.value, 'contains')"
          placeholder="Search keyword"
        />
      </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th
        *ngFor="let column of columns"
        [ngClass]="{ 'text-center': column?.subHeaders?.length }"
        [attr.colspan]="!!column.subHeaders ? column.subHeaders.length : null"
        [attr.rowspan]="!column.subHeaders ? 2 : null"
        [pSortableColumn]="column.field"
        [pSortableColumnDisabled]="!column.field"
      >
        {{ column.header }}
        <p-sortIcon *ngIf="column.field" [field]="column.field"></p-sortIcon>
      </th>
    </tr>
    <tr>
      <ng-template ngFor let-column [ngForOf]="columns">
        <th
          *ngFor="let column of column.subHeaders"
          [pSortableColumn]="column.field"
          [pSortableColumnDisabled]="!column.field"
        >
          {{ column?.header }}
          <p-sortIcon *ngIf="column.field" [field]="column.field"></p-sortIcon>
        </th>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product let-editing="editing">
    <tr>
      <ng-template ngFor let-col [ngForOf]="flattenedColumns">
        <ng-container *ngIf="nonEditableColumns.includes(col.field); else editTemplate">
          <td>
            <ng-container *ngIf="col.field === 'totalSales'; else restColsTemplate">
              <ng-container *ngIf="product.totalSales && product.totalSales > 0 && !shouldRecalculateTotals">{{
                product.totalSales
              }}</ng-container>
              <ng-container *ngIf="!product.totalSales || product.totalSales <= 0 || shouldRecalculateTotals">
                {{ computeTotalSales(product.salesQ1, product.salesQ2, product.salesQ3, product.salesQ4) }}
              </ng-container>
            </ng-container>
            <ng-template #restColsTemplate>
              {{ product[col.field] }}
            </ng-template>
          </td>
        </ng-container>
        <ng-template #editTemplate>
          <td [pEditableColumn]="product[col.field]" pEditableColumnField="col.field">
            <p-cellEditor>
              <ng-template pTemplate="input">
                <ng-container *ngIf="isNumericField(product[col.field]); else inputTextTemplate">
                  <p-inputNumber
                    [min]="0"
                    [max]="9999999999999"
                    [format]="false"
                    [(ngModel)]="product[col.field]"
                    [placeholder]="col.header"
                    [required]="true"
                  ></p-inputNumber>
                </ng-container>
                <ng-template #inputTextTemplate>
                  <input
                    [attr.placeholder]="col.header"
                    pInputText
                    type="text"
                    maxlength="50"
                    required
                    [(ngModel)]="product[col.field]"
                  />
                </ng-template>
              </ng-template>
              <ng-template pTemplate="output">
                {{ product[col.field] }}
              </ng-template>
            </p-cellEditor>
          </td>
        </ng-template>
      </ng-template>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="7">No sales data found.</td>
    </tr>
  </ng-template>
</p-table>
